h1 {
    font-size: 3 rem;
    text-align: center;
}

h2 {
    font-size: 1. 25rem;
    text-align: center;
}

p {
    line-height: 1.3;
}

h3 {
    font-size: 1.1rem;
    text-align: centre;
    font-style: italic;
}

body {
    background-color: aliceblue;
    font-family: Georgia, serif;
}