.menu {
    background-color: skyblue;
    overflow: hidden;
}

.menu a {
    float: right;
    color: blue;
    text-align: center;
    padding: 15px 17px;
    text-decoration: solid;
    font-size: 17px;
}

.menu a:hover {
    background-color: blue;
    color: aliceblue;
}

.menu a.active {
    background-color: darkblue;
    color: aliceblue;
}

footer {
    margin-top: 500px;
    background-color: skyblue;
}